VITE_API_BASE_URL=http://localhost:8000
VITE_RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv9GoWTM5UgXnPDg/SIzATqhSdFpsRps6/0GMqT0bBL1mHdTbjll+A121zEayucKRtUN/Ph4oXAObSJ31/uP+VGcHAeq6D+uXu2MzZLNJ86tBMrp6p/sDrycDpLbp0HMUJr3ldQjd7q6SSM5nkOhRNdMBsyMFP2M/LCbsfG9bj9YSAMWosKvHv0/Kt8LKXbJ5RWIZ2YnpchkUgwoKZKLphb0NcexrxjYiqHqXaBnsD59WT1dUNoF4eQniaRG5pbMo8N4Hu88KGlIyftx8MAjpLwn2FbNyZaLETSVXn1e5VSnCHaVB+N46cwUWfFZ1VuFTIJFb30IPShYurxsgffLMnwIDAQAB\n-----END PUBLIC KEY-----"
